@define-color main-fg #ffffff;
#custom-clipboard {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
}
/* Delete the #custom-spotify container block completely */

/* Only enforce the font on the label */
#custom-spotify label {
    font-family: "monospace";
}
#window {
    padding: 0 8px;
}
#window.empty label {
    font-size: 25px;
}
/* Add padding to the privacy module container */
#privacy {
    font-size: 12px; /* Increases icon/text size */
    padding: 0 0px; /* Adjusts internal width/height */
    margin: 0 0px;   /* Adjusts external spacing */
    min-width: 0px; /* Forces a specific minimum width */
    padding-right: 5px;
}
/* To target the individual indicators (mic, camera, screenshare) inside the module */
#privacy-item {
    padding: 0 1px; /* Adjusts spacing between multiple active indicators */
}
#custom-power {
    padding-left: 10px;
    padding-right: 10px;
    /* Add margin if you want to push other elements away */
    margin-left: 5px;
    margin-right: 5px;
}
#custom-voxtype {
    font-size: 11px; 
    margin: 0 1px;   
    padding-left: 29px;
    padding-right: 25px;
}
