[Desktop Entry]
Type=Application
Name=ChatGPT
Exec=google-chrome-stable --app="https://chatgpt.com/"
Icon=/home/binaryraptor/.local/share/icons/webapps/OpenAI-dark.svg
Terminal=false
Categories=Network;WebBrowser;
# created-by: Webapp Installer
