[Desktop Entry]
Type=Application
Name=DeepSeek
Exec=google-chrome-stable --profile-directory="Default" --app="https://chat.deepseek.com/"
Icon=/home/binaryraptor/.local/share/icons/webapps/deepseek.png
Terminal=false
Categories=Network;WebBrowser;
# created-by: Webapp Installer
