[Desktop Entry]
Type=Application
Version=1.4
Name=Google Gemini
Comment=Meet Gemini, Google’s AI assistant. Get help with writing, planning, brainstorming, and more. Experience the power of generative AI.
Keywords=;
Categories=GTK;;
Icon=FFPWA-01KW5ZXG7VG360Z11W00D22ZCB
Exec=/usr/bin/firefoxpwa site launch 01KW5ZXG7VG360Z11W00D22ZCB --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01KW5ZXG7VG360Z11W00D22ZCB
