[Desktop Entry]
Name=Phone Files
Comment=Mount and browse Android internal storage
Exec='/home/binaryraptor/.local/bin/phone-files'
Icon=phone
Type=Application
Categories=Network;FileTransfer;
