[Desktop Entry]
Name=Valent SMS
Comment=Open Valent Messages
Exec=gapplication action ca.andyholmes.Valent messages-window
Icon=ca.andyholmes.Valent
Terminal=false
Type=Application
Categories=Network;Messaging;
